@layout AuthLayout
@page "/cart/payment"
@using EccomercePage.Api.Interfaces
@using EccomercePage.Api.Repository
@using EccomercePage.Api.Repository.States
@using EccomercePage.Components.Order
@using EccomercePage.Data.DTO.CartDTO
@using EccomercePage.Routes.Redirects
@using Microsoft.AspNetCore.Components.Authorization

@inject CartState CartState
@inject ICartRepository _cartRepository
@inject IGetService<PaymentMethodDTO> _paymentMethodService
@inject IOrderService _orderService
@inject NavigationManager Navigation

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <section class="flex max-w-full flex-row p-4" style="background: linear-gradient(170deg, #0a0000, #08113d, #0a0000);">
            <div class="flex-grow bg-red-700 p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-4 text-white">Resumen de Pedido</h2>
                <div>
                    @foreach (var item in cartItemsPaymentDTO.CartItems)
                    {
                        <CartProductItemPayment ImageSrc="@item.ImageUrl"
                                                Name="@item.ProductName"
                                                Quantity="@item.Quantity" />
                    }
                </div>
                <div class="flex flex-col mt-4 gap-4">
                    <h3 class="font-medium text-white">Métodos de Pago</h3>
                    @foreach (var paymentMethod in paymentMethods)
                    {
                        <PaymentMethodItem Id="@paymentMethod.Id"
                                           Name="@paymentMethod.Name"
                                           Description="@paymentMethod.Description"
                                           Value="@SelectedPaymentMethodId"
                                           ValueChanged="OnPaymentMethodChanged" />
                    }
                </div>
            </div>
            <div class="flex-grow-1 basis-1/3 bg-blue-300 p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-4 text-white">Resumen de Compra</h2>
                <PurchaseSummary Total="@total"
                                 TotalProducts="@CartState.CartItems" />
                <Button Size="lg" @onclick="GenerateOrder">Generar pedido</Button>
            </div>
        </section>
    </Authorized>
</AuthorizeView>

@code {
    private CartItemsPaymentDTO cartItemsPaymentDTO = new CartItemsPaymentDTO();
    private IEnumerable<PaymentMethodDTO> paymentMethods = [];
    private decimal total;

    private int SelectedPaymentMethodId;

    protected override async Task OnInitializedAsync()
    {
        CartState.OnChange += StateHasChanged;
        await _cartRepository.UpdateCartStateAsync();
        total = await _cartRepository.GetTotalAmountAsync();
        cartItemsPaymentDTO = await _cartRepository.GetCartItemsPaymentAsync();
        paymentMethods = await _paymentMethodService.GetAllAsync();

        // Seleccionar el primer método de pago automáticamente si existen métodos
        if (paymentMethods?.Any() == true)
        {
            SelectedPaymentMethodId = paymentMethods.First().Id;
        }
    }

    private void OnPaymentMethodChanged(int selectedId)
    {
        SelectedPaymentMethodId = selectedId;
    }

    private async void GenerateOrder()
    {
        if (SelectedPaymentMethodId == 0)
        {
            return;
        }

        if (cartItemsPaymentDTO.Id == 0)
        {
            return;
        }

        var result = await _orderService.GenerateOrderThroughCart(cartItemsPaymentDTO.Id, SelectedPaymentMethodId);

        if (result)
        {
            await _cartRepository.UpdateCartStateAsync();
            Navigation.NavigateTo("/");
        }

    }

    public void Dispose()
    {
        CartState.OnChange -= StateHasChanged;
    }
}
